* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  padding: 5vw;
  display: flex;
  align-items: center;
  flex-direction: column;

}

h1 {
  font-size: 30px;
  margin-bottom: 10vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 0.3px yellow;
  font-weight: 800;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  background-size: text;
  -webkit-background-clip: text;
}


#box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;



}

#box input {
  padding: 10px 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  width: 70%;
}

#box button {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: white;
  letter-spacing: 1px;
  margin-left: 10px;
  font-size: 14px;
}