* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  padding: 5vw;
  display: flex;
  align-items: center;
  flex-direction: column;

}

h1 {
  font-size: 30px;
  margin-bottom: 10vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 0.3px yellow;
  font-weight: 800;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  background-size: text;
  -webkit-background-clip: text;

}


button {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: white;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  width: 50%;
  text-transform: uppercase;
}

::placeholder {
  color: black;
}




.result {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: black;
  border-radius: 10px;

}


textarea {
  width: 100%;
  padding: 10px 5px;
  background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
  color: purple;
}


.top {
  margin-top: -30px;
}